<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="parteSuperiorDelHeader">
      <img class="logo" src="/images/logo-mercado-liebre.svg">
      <form class="barraDeBusqueda"><input class="textoBarra" placeholder="Buscá productos, marcas..."><button><i class="fas fa-search"></i></button></i></form>
      <p class="primerTitulo"> <i class="fas fa-hand-holding-usd"> </i> Compra en cuotas y sin tarjeta de crédito</p>
    </div>
    <div class="links">
      <nav class="navBar">
        <p>Ofertas</p>
        <p>Tiendas oficiales</p>
        <p>Vender</p>
        <p>Ayuda</p>
      </nav>
      <nav class="logBar">
        <a class="crearCuenta" href="/registro"><p>Creá tu cuenta <i class="far fa-id-card"></i></p></a>
        <a class="ingresar" href="/ingreso"><p>Ingresá <i class="fas fa-sign-in-alt"></i></p></a>
        <p>Mis compras <i class="fas fa-shopping-basket"></i> </p>
      </nav>
    </div>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
  <main>
    <img class="banner" src="/images/img-home-banner.jpg" alt="bannerDelSitio">
    <section>

      <h2 class="tituloSeccion">Basado en tu última visita</h2>
      <div class="articulos">
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$6.770</p>
              <p class="descuentos">40% off</p>
            </div>
            <h3 class="descripciones">Cafetera Moulinex</h3>
          </div>
        </article>
        <article>

          <img src="images/img-macbook-pro-2019.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
            <h3 class="descripciones">MacBook Pro 2019</h3>
          </div>
        </article>

        <article>
          <img src="images/img-samsung-galaxy-s10.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$70.500</p>
              <p class="descuentos">10% off</p>
            </div>
            <h3 class="descripciones">Samsung Galaxy S10</h3>
          </div>
        </article>

        <article>
          <img src="images/img-tv-samsung-smart.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$23.200</p>
              <p class="descuentos" p>5% off</p> 
            </div>
            <h3 class="descripciones">SamrtTV Samsung 43"</h3>
          </div>
        </article>
      </div>

    </section>

    <section>

      <h2 class="tituloSeccion">Sección de Ofertas</h2>
      <div class="articulos">
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$6.770</p>
              <p class="descuentos">40% off</p>
            </div>
            <h3 class="descripciones">Cafetera Moulinex</h3>
          </div>
        </article>

        <article>

          <img src="images/img-macbook-pro-2019.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
            <h3 class="descripciones">MacBook Pro 2019</h3>
          </div>
        </article>

        <article>
          <img src="images/img-samsung-galaxy-s10.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$70.500</p>
              <p class="descuentos">10% off</p>
            </div>
            <h3 class="descripciones">Samsung Galaxy S10</h3>
          </div>
        </article>

        <article>
          <img src="images/img-tv-samsung-smart.jpg" width="100%">
          <div class="infoArticulo">
            <p class="camionEnvio"> <i class="fas fa-truck"></i> </p>
            <div class="precioYDescuento">
              <p class="precio">$23.200</p>
              <p class="descuentos" p>5% off</p>
            </div>
            <h3 class="descripciones">SamrtTV Samsung 43"</h3>
          </div>
        </article>
      </div>
    </section>

  </main>
  <footer>
    <div class="infoFinal">
      <i class="fas fa-credit-card"></i>
      <h4>Pagá con tarjeta o efectivo</h4>
      <p class="cuerpoDeTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="infoFinal">
      <i class="fas fa-gift"></i>
      <h4>Envío gratis desde $2.500</h4>
      <p class="cuerpoDeTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </div>

    <div class="infoFinal">
      <i class="fas fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p class="cuerpoDeTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </div>
    <div>
      <p class="cuerpoDeTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>


  </footer>

</body>

</html>
