.formulario{
    margin: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

form{
    width: 100%;
    text-align: center;
}

form div input{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 5px;
    border: white;
}

.botonIngresar{
    background-color: #0044aa;
    color: white;
    cursor: pointer;
    width: 100%;
    border: #0044aa;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    transition: all 500ms;
}

.botonIngresar:hover{
    background-color: #0022aa;
}

input:focus{
    outline: none
}