main{
    margin: 10px 25px;
}

label{
    font-weight: bold;
    margin: 5px;
}

input{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: white;
}

input:focus{
    outline: none
}

button{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: #0044aa;
    border: #0044aa;
    cursor: pointer;
}